.Blog-area {
  display: flex;

  align-items: flex-end;
  max-width: 100%;
}

.blogimg {
  width: 100%;
  max-width: 180px;
  height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--white-color);
}

.blogimg img {
  height: 100%;
}

.blog-text-section {
  background-color: var(--primary-color);
  height: 180px;
  width: 280px;
  border-radius: var(--border-radius);
  margin-left: -50px;
  margin-bottom: 20px;
  padding: 15px;
  color: var(--white-color);
  text-align: center;
}
.blog-text-section h3 {
  font-size: 1.6rem;
  height: 3.6rem;
  text-align: left;
  overflow-y: hidden;
}
.blog-text-section p {
  font-size: 0.9rem;
  overflow-y: hidden;

  line-height: 1;
  height: 5.6rem;
  text-align: left;
}
/* Responsive Design */
@media (max-width: 768px) {
  .Blog-area {
    text-align: center;
  }

  .blogimg {
    max-width: 160px;
  }

  .blog-text-section {
    width: 90%;
    max-width: 300px;
    margin-bottom: 10px;
  }
}
