.benefits-container {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

.benefits-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.highlight {
  color: var(--secondary-color);
}

.benefits-subtext2 {
  margin: 10px auto 40px;
  font-size: 1rem;
  color: #666;
  max-width: 80%;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;

  align-items: center;
  justify-content: center;
}
.benifit-text {
  margin: 0%;
  padding: 0%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benifit-text h4,
.benifit-text p {
  margin: 0%;
  padding: 0%;
  line-height: 1;
}
.benifit-text h4 {
  margin-bottom: 5px;
  font-weight: 500;
}

.benefit-card {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: var(--border-radius);
  padding: 15px;
  text-align: left;
  transition: 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.benefit-card:hover {
  transform: translateY(-5px);
}

.benefit-icon {
  font-size: 20px;
  color: var(--primary-color);
  background-color: var(--primary-transparent-color);
  padding: 15px;
  height: 70px;
  width: 70px;
  border-radius: var(--border-radius-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

@media (max-width: 768px) {
  .benefits-subtext2 {
    margin: 10px auto 40px;
    font-size: 1rem;
    color: #666;
    max-width: 95%;
  } 

  .benefit-card {
    margin: 0%;
    align-self: center;
  }
  .benefits-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
