:root {
  --primary-color: #334eac;
  --primary-transparent-color: #334dac2e;
  --secondary-transparent-color: #334dac80;
  --black-transparent-color: #000000ac;
  --secondary-color: #081f5c;
  --tertiory-color: #1f007d;
  --accent-color: #f78f08;
  --warning-color: #fb2a54;
  --white-color: #ffffff;
  --grey-color: #ededed;
  --dark-grey-color: #adadad;
  --black-color: #000000;
  --horizontal-gradient: linear-gradient(to right, #334eac, #081f5c);
  --vertical-gradient: linear-gradient(to bottom, #334eac, #081f5c);
  --background-blackScreen: linear-gradient(to bottom, #ffffff00, #000000ac);
  --border-radius: 20px;
  --border-radius-secondary: 8px;
  --fontsize-small: 12px;
  --fontsize-medium: 14px;
  --fontsize-large: 16px;
  --all-side-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.733);
  --all-side-box-shadow2: 0px 0px 3px #334eac;
  --fontsize-heading: 40px;
  --fontsize-heading-responsive: 30px;
  --space-bellow-hero-section: 88px;
  --default-width: 90%;
  --side-padding: 5%;
  --margin-below-cards: 50px;
  --heading-top-space: 50px;
  --heading-bottom-space: 30px;
  --span-heading-space: 33px;

  --heading-font: 24px;

  --avatar: 106px;

  --card-p-size: 18px;
  --hero-section-heading: 76px;
  --hero-section-description: 18px;
  --hero-section-height: 500px;

  --service-card-height: 445px;
  --service-card-img-height: 230px;
  --service-card-p-height: 150px;

  --team-background-height: 500px;
}
.whatsappimg{
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 5;
}
@media (max-width: 1000px) {
  :root {
    --fontsize-heading: 30px;
    --default-width: 90%;
    --side-padding: 5%;
    --margin-below-cards: 50px;
    --heading-top-space: 0px;
    --heading-bottom-space: 18px;
    --span-heading-space: 33px;

    --heading-font: 18px;
    --hero-section-heading: 40px;
    --hero-section-description: 14px;
    --hero-section-height: 435px;
    --service-card-height: 365px;
    --service-card-img-height: 159px;
    --service-card-p-height: 140px;
    --card-p-size: 14px;

    --team-background-height: 400px;
  }
}
.secondary-button {
  background-color: var(--secondary-color);
  color: var(--white-color);
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  border-style: none;
  padding: 5px 10px;
  border-radius: var(--border-radius-secondary);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth scaling effect */
}

.secondary-button:hover {
  transform: scale(1.02);
  box-shadow: var(--all-side-box-shadow);
  background-color: var(--primary-color);
}
.page-heading-area {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: var(--heading-top-space);
  margin-bottom: var(--heading-bottom-space);
}
.page-heading-area p {
  margin: 0%;
  padding: 0%;
  font-size: var(--heading-font);
  color: var(--secondary-color);
  font-weight: 600;
}
