.nav-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}
.header a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth scaling effect */
}

.header a:hover {
  transform: scale(1.02);
}
.header-logo {
  height: 50px;
}
.header {
  width: var(--default-width);
  margin-left: var(--side-padding);
  margin-right: var(--side-padding);
}

.nav-content-section {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.nav-content-section .left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav-content-section .right {
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}

.nav-content-section .left .content-item {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: var(--fontsize-medium);
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-content-section .left .content-item p {
  margin: 0%;
}

.menu-item {
  padding: 5px;
  margin: 5px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}

.menu-item:hover {
  color: var(--secondary-color);
  background-color: var(--primary-transparent-color);
  border-radius: var(--border-radius);
}

.menu-item.active {
  color: var(--secondary-color);
  /* background-color: var(--primary-transparent-color); */
  border-radius: var(--border-radius);
}

.menu-item.active::after {
  content: "";
  display: flex;
  width: 5px;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.menu-item:last-child.active::after {
  content: "";
  display: flex;
  width: 5px;
  height: 5px;
  background-color: white;
  color: white;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

.menu-item:last-child {
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  border-style: none;
  color: var(--white-color);
  padding: 5px 15px;
}
.navbar-toggler {
  outline: none !important;
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  border-color: var(--black-color) !important;
  color: var(--secondary-color) !important;
  box-shadow: 0px 2px 3px var(--primary-transparent-color) !important;
  background-color: var(--primary-transparent-color) !important;
}
